fieldset {
  border: none;
}

.navbar {
  margin-top: 1.5em;
}

.select-job {
  width: 50%;
}

.right-align {
  text-align: right;
}

.pipeline-config {
  margin-top: 2em;
}

.lightsheet-container {
  width: 75%;
}

.lightsheet-row {
  margin-top: 2em;
}

.lightsheet-input {
  max-width: 20em;
  min-width: 7em;
}

.lightsheet-heading {
  margin-top: 2em;
}

.empty-label {
  margin-top: 1.8em;
}

.navbar-brand {
  padding-left: 3em;
}