fieldset {
  border: none;
}

.navbar {
  margin-top: 1.5em;
}

.select-job {
  width: 60%;
}

.right-align {
  text-align: right;
}

.pipeline-config {
  margin-top: 2em;
}

.lightsheet-container {
  width: 90%;
}

.lightsheet-row {
  margin-top: 1.5em;
  margin-left: 0.2em;
}

.lightsheet-input {
  max-width: 20em;
  min-width: 9em;
}

.lightsheet-number {
  margin-left: 1em;
  max-width: 6em;
}

.lightsheet-field {
  margin-left: 20px !important;
}

.lightsheet-text {
  margin-left: 1em;
}

.lightsheet-heading {
  margin-top: 2em;
}

.lightsheet-dropdown {
  max-width: 50%;
}

.lightsheet-tab {
  margin-top: 1em;
}

.lightsheet-label {
  font-size: 0.9em;
  min-width: 4em;
}

.lightsheet-label-configure {
  font-size: 0.9em;
  min-width: 6em;
}

.lightsheet-search {
  margin-bottom: 1.2em;
  width: 33%;
}

.lightsheet-checkbox {
  margin-left: 10px;
  margin-top: -1em;
}

.empty-label {
  margin-top: 1.8em;
}

.navbar-brand {
  padding-left: 3em;
}

.field-left {
  margin-left: 2em;
}

.last-camera-parameter {
  margin-bottom: 1.2em;
}

.middle-camera-parameter {
  margin-bottom: 0.4em;
}

.step-name {
  color: black;
}

.status-error {
  background-color: rgba(255,0,0,0.3)
}

.status-successful {
  background-color: rgba(0,255,0,0.3)
}

.status-running {
  background-color: rgba(0,0,255,0.3)
}

.pika-datepicker {
  width: 10.8em;
}

.paginate_button {
  margin-right: 8px;
}

.step-heading {
  font-size: 1.3em;
}

.submit-button {
  margin-top: 1em;
}

.apply-button {
  float: right;
  margin-bottom: 12px;
}

.hint-area  {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.parameter-hint {
  display: none;
}

.flag-parameter {
  margin-top: 0.5em;
  margin-left: 2em;
}

.step-type {
  float: right;
  color: #BBBBBB;
}

.label-mount {
  background-color: #dce6ef;
}

.ip-namefield {
  min-width: 30em
}

.ip-dropdown {
  min-width: 15em;
}

select .template-dropdown {
  width: 200px !important;
}

@media (min-width: 769px) {
  .lightsheet-text {
    min-width: 20em;
  }

  .ip-dropdown {
    min-width: 10em;
  }
}

@media (min-width: 1200px) {
  .lightsheet-text {
    min-width: 50em;
  }

  #steps {
    min-width: 62em;
  }

  .ip-dropdown {
    min-width: 15em;
  }
}

@media (min-width: 1900px) {
  .lightsheet-text {
    min-width: 60em;
  }

  #steps {
    min-width: 73em;
  }

  .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
      opacity: 1;
      transition: opacity 0.6s;
      margin-bottom: 15px;
  }

  .alert.success {background-color: #4CAF50;}
  .alert.info {background-color: #2196F3;}
  .alert.warning {background-color: #ff9800;}

  .closebtn {
     margin-left: 15px;
     color: white;
     font-weight: bold;
     float: right;
     font-size: 22px;
     line-height: 20px;
     cursor: pointer;
     transition: 0.3s;
  }

  .closebtn:hover {
     color: black;
  }

  #job-table_length {
    min-width: 2000px;
  }
}

#globalParameters-card .card-header{
  background-color: rgba(0,0,0,0.1);
}

.info-icon {
  font-size: 1.2em;
  color: #555555;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 0.4em;
  margin-right: 1.5em;
}

.msg-error {
  color: red;
}

.msg-success {
  color: green;
}

@media (max-width: 2500px) {
  #job-table_length {
    min-width: 2400px;
  }
}

.job-select {
  min-width: 30em;
}