{% extends "branding.html" %}
{% block content %}


    <div class="row lightsheet-row">
        <table class="table table-striped table-hover" id='job-table'/>
    </div>
    <script>document.write("<script src='{{ url_for('static', filename='js/table.js') }}?time=" + Date.now() +"'><\/script>");</script>
    <script>document.write("<script src='{{ url_for('static', filename='js/submit.js') }}?time=" + Date.now() +"'><\/script>");</script>

    <!-- template variables to be processed in JavaScript -->
    <script>
        allJobs=true;
        var hideColumns = 0;
        {% if jobsJson %}
            var jacs_host = "{{jacs_host}}";
            var table_data = {{ jobsJson|safe }};
            var jacs_dashboard = "{{ jacs_dashboard }}";
        {% else %}
            var table_data = null;
        {% endif %}
        var tableDataURL =  window.location.origin + "/table_data?showAllJobs=True";
    </script>
{% endblock content %}