{% extends "base.html" %}
{% block branding %}
<div class="lightsheet-heading">
  {% if currentTemplate is defined %}
      <h1>{{ currentTemplate[1] }} Pipeline {{ version }}</h1>
    {% else %}
      <h1>Image Processing Pipeline {{ version }}</h1>
    {% endif %}
</div>
{% endblock %}
{% block navbar %}
  {% if logged_in %}
    <nav class="navbar navbar-light bg-light justify-content-end">
      <a class="navbar-brand navbar-brand-left" href="{{ url_for('index') }}"> Home </a>
      <a class="navbar-brand navbar-brand-left" href="{{ url_for('job_status') }}"> Check Job Status </a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a class="navbar-brand navbar-brand-left" href="{{ url_for('search') }}"> Advanced Search </a>
      <a class="navbar-brand" href="{{ url_for('admin.index') }}"> Admin </a>
      <a class="navbar-brand" href="{{ url_for('login') }}"> Logout </a>
    </nav>
  {% endif %}
{% endblock %}