{% if data is not string %}
    {% set data = data[0] %}
{% endif %}
<select name="{{ param.name }}">
    {% if value.text1 %}
        <option value="{{ value.text1 }}" {% if value.text1 == data %} selected="selected" {% endif %} data-defaultValue="{{ defaultValueText1 }}" value="{{ value.text1 }}" id="select_{{ param.name }}_text1"> {{ value.text1 }}
    {% endif %}
    {% if value.text2 %}
        <option value="{{ value.text2 }}" {% if value.text2 == data %} selected="selected" {% endif %} data-defaultValue="{{ defaultValueText2 }}" value="{{ value.text2 }}" id="select_{{ param.name }}_text2"> {{ value.text2 }}
    {% endif %}
    {% if value.text3 %}
        <option value="{{ value.text3 }}" {% if value.text3 == data %} selected="selected" {% endif %} data-defaultValue="{{ defaultValueText3 }}" value="{{ value.text3 }}" id="select_{{ param.name }}_text3"> {{ value.text3 }}
    {% endif %}
    {% if value.text4 %}
        <option value="{{ value.text4 }}" {% if value.text4 == data %} selected="selected" {% endif %} data-defaultValue="{{ defaultValueText4 }}" value="{{ value.text4 }}" id="select_{{ param.name }}_text4"> {{ value.text4 }}
    {% endif %}
    {% if value.number1 %}
        <option value="{{ value.number1 }}" {% if value.number1 == data %} selected="selected" {% endif %} data-defaultValue="{{ defaultValueNumber1 }}" value="{{ value.number1 }}" id="select_{{ param.name }}_number1"> {{ value.number1 }}
    {% endif %}
    {% if value.number2 %}
        <option value="{{ value.number2 }}" {% if value.number2 == data %} selected="selected" {% endif %} data-defaultValue="{{ defaultValueNumber2 }}" value="{{ value.number2 }}" id="select_{{ param.name }}_number2"> {{ value.number2 }}
    {% endif %}
    {% if value.number3 %}
        <option value="{{ value.number3 }}" {% if value.number3 == data %} selected="selected" {% endif %} data-defaultValue="{{ defaultValueNumber3 }}" value="{{ value.number3 }}" id="select_{{ param.name }}_number3"> {{ value.number3 }}
    {% endif %}
    {% if value.number4 %}
        <option value="{{ value.number4 }}" {% if value.number4 == data %} selected="selected" {% endif %} data-defaultValue="{{ defaultValueNumber4 }}" value="{{ value.number4 }}" id="select_{{ param.name }}_number4"> {{ value.number4 }}
    {% endif %}
    {% if value.number5 %}
        <option value="{{ value.number5 }}" {% if value.number5 == data %} selected="selected" {% endif %} data-defaultValue="{{ defaultValueNumber5 }}" value="{{ value.number5 }}" id="select_{{ param.name }}_number5"> {{ value.number5 }}
    {% endif %}
    {% if value.number6 %}
        <option value="{{ value.number6 }}" {% if value.number6 == data %} selected="selected" {% endif %} data-defaultValue="{{ defaultValueNumber6 }}" value="{{ value.number6 }}" id="select_{{ param.name }}_number6"> {{ value.number6 }}
    {% endif %}
</select>
