{% from "_formhelpers.html" import render_field %}
<!-- This file contains the template code for each and every pipeline step and includes a separate template to render each parameter -->
<div class="card" id="{{ step.name }}-card">
  <div class="card-header" id="headingOne">
      <div class="step-heading row">
          <label>
            {%  set state = False %}
            <input
              id="check-{{step.name}}"
              type="checkbox"
              class="btn btn-link step-name step-checkbox"
              data-toggle="collapse"
              data-target="#collapse{{ step.name }}"
              aria-expanded={{ state }}
              aria-controls="collapse{{ step.name }}"
              value={{ step.name + "_checkbox"}}
                {{ state }} />
            {{ step.description }}
          </label>
      </div>
  </div>
  <div id="collapse{{ step.name }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      {% include "tabnav.html" %}
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active lightsheet-tab" id="frequent-{{ step.name }}">
          {% for param in step.parameter %}
            {% for p in config.parameter.frequent %}
              {% include "parameter.html" ignore missing with context %}
            {% endfor %}
          {% endfor %}
        </div>
        <!-- sometimes panel -->
        <div role="tabpanel" class="tab-pane lightsheet-tab" id="sometimes-{{ step.name }}">
          {% for param in step.parameter %}
            {% for p in config.parameter.sometimes %}
              {% include "parameter.html" ignore missing with context %}
            {% endfor %}
          {% endfor %}
        </div>
        <!-- rare panel -->
        <div role="tabpanel" class="tab-pane lightsheet-tab" id="rare-{{ step.name }}">
          {% for param in step.parameter %}
            {% for p in config.parameter.rare %}
              {% include "parameter.html" ignore missing with context %}
            {% endfor %}
          {% endfor %}
        </div>
        <!-- json panel -->
        <div role="tabpanel" class="tab-pane lightsheet-tab collapse" id="json-{{ step.name }}" style="display: none;">
        </div>
        <div class="col-md-12">
          <input class="btn btn-info apply-button" type="button" value="Apply" title="Apply global parameters to other steps in the pipeline" onclick="dependency.applyGlobalParameter()" />
          <input class="btn btn-info apply-button" type="button" value="Apply" title="Apply global parameters to other steps in this pipeline" onclick="dependency.applyGlobalParameter()" />
        </div>
      </div>
    </div>
  </div>
</div>
