{% extends "branding.html" %}
{% block content %}
  <div class="row lightsheet-row">
    <h3>Configure Job</h3>
  </div>
  <div class="row lightsheet-row">
    <select class="form-control select-job" onchange="location = this.options[this.selectedIndex].value;">
      <option value="http://10.36.13.18:5000/" selected>---Select Previous Run---</option>
      {% if parentServiceData is not none %}
        {% for service in parentServiceData %}
          <option value={{"http://10.36.13.18:5000/"+ service.index }} {{ service.selected }}>  {{ service.creationDate + " " + "(" + service.args[3] + ")"}} </option> 
        {% endfor %}
      {% endif %}
    </select>
  </div>
  <div class="row lightsheet-row">
    <div id="steps">
      {% if pipelineSteps is not none %}
        {% for pipelineStep in pipelineSteps %}
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link step-name" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{loop.index }}">
                  <input type="checkbox" value={{ pipelineStep.stepName }}+"_checkbox" {{ pipelineStep.checkboxState }}>
                  {{ pipelineStep.stepDescription }}
                </button>
              </h5>
            </div>
            <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item tab-frequent">
                    <a class="nav-link active" href="#frequent{{ loop.index }}" role="tab" data-toggle="tab">Frequent</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#sometimes{{ loop.index }}" role="tab" data-toggle="tab">Sometimes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#rare{{ loop.index }}" role="tab" data-toggle="tab">Rare</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#json{{ loop.index }}" role="tab" data-toggle="tab">JSON</a>
                  </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active lightsheet-tab" id="frequent{{ loop.index }}">
                    {% for step in config.steps %}
                      {% if step.name == pipelineStep.stepName %}
                          {% for param in step.parameter %}
                            {% for p in config.parameter %}
                              {% if param.name == p.name %}
                                <div class="input-group input-group-sm mb-3" id="{{ step.name }}-{{ param.name }}">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text lightsheet-input">
                                    {{ param.name | capitalize }}
                                  </span>
                                  {% if p.type == 'Text' %}
                                    <input type="text" class="form-control lightsheet-number" value="{{ param.text1 }}">
                                  {% elif p.type == 'Number' %}
                                    {% if p.count == '1' %}
                                      <input type="number" class="form-control lightsheet-number" value="{{ param.number1 }}">
                                    {% elif p.count == '2' %}
                                      <input type="number" class="form-control lightsheet-number" value="{{ param.number1 }}">
                                      <input type="number" class="form-control lightsheet-number" value="{{ param.number2 }}">
                                    {% elif p.count == '3' %}
                                      <input type="number" class="form-control lightsheet-number" value="{{ param.number1 }}">
                                      <input type="number" class="form-control lightsheet-number" value="{{ param.number2 }}">
                                      <input type="number" class="form-control lightsheet-number" value="{{ param.number3 }}">
                                    {% endif %}
                                  {% endif %}
                                  </div>
                                </div>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </div>
                  <!-- sometimes panel -->
                  <div role="tabpanel" class="tab-pane lightsheet-tab" id="sometimes{{ loop.index }}">
                  </div>
                  <!-- rare panel -->
                  <div role="tabpanel" class="tab-pane lightsheet-tab" id="rare{{ loop.index }}">
                  </div>
                  <!-- json panel -->
                  <div role="tabpanel" class="tab-pane lightsheet-tab" id="json{{ loop.index }}">
                    <!-- For now, show json in sometimes panel -->
                    <fieldset>
                      <textarea {{ pipelineStep.state }} rows="20" cols="50" id={{  pipelineStep.stepName +"_text"}}  name={{ pipelineStep.stepName }}>
                        {{ pipelineStep.inputJson }}
                      </textarea>
                      <br>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row lightsheet-row">
     <p><input class="btn btn-info" type="submit" name="postJob" value="Submit Job" /></p>
  </div>
{% endblock %}