{% extends "branding.html" %}
{% block content %}
  <!--
      Rows to configure a new job
  -->
  <div class="row lightsheet-row">
    <h4>Configure Job</h4>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="form-group form-inline">
        <label class="lightsheet-label">Name: </label>
        <input type="text" class="form-control" name="job-name">
      </div>
      <div class="form-group form-inline">
        <label class="lightsheet-label">Date: </label>
        <input type="date" class="form-control" name="job-date">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <select class="form-control select-job" onchange="location = this.options[this.selectedIndex].value;">
        <option value="{{ url_for('index') }}" selected>---Select Previous Run---</option>
          {% if parentServiceData is not none %}
            {% for service in parentServiceData %}
              <option value={{ url_for('index', jacsServiceIndex=service.index) }} {{ service.selected }}>  {{ service.creationDate | strftime + " " + "(" + service.args[3] + ")"}} </option>
            {% endfor %}
          {% endif %}
      </select>
    </div>
  </div>
  <!-- accordeon control which contains the steps -->
  <form action="" method="post">
    <div class="row lightsheet-row">
      <div id="steps">
        {% if pipelineSteps is not none %}
          {% for pipelineStep in pipelineSteps %}
            {% include "step.html" ignore missing with context %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <!-- button to submit the forms -->
    <div class="row lightsheet-row">
      <input type="submit" name="postJob" class="btn btn-info" value="Submit Job" /></p>
    </div>
  </form>
  <!--
      Rows to select an existing job
  -->
  <div class="row lightsheet-row" style="margin-top: 2em;">
    <h4>Previous Jobs</h4>
  </div>
  <div class="row lightsheet-row">
    <input class="form-control lightsheet-search" type="text" placeholder="Search for names.." id="search-input" onkeyup="filterTable()">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Steps</th>
          <th>InputFolder</th>
        </tr>
      </thead>
      <tbody id="job-table-body">
        {% if parentServiceData is not none %}
        {% for service in parentServiceData %}
          <tr>
            <td>Name</td>
            <td>{{ service.creationDate | strftime }}</td>
            <td>{{ service.args[3]}}</td>
            <td>{{ service.args[1]}}</td>
          </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker').datetimepicker({
          defaultDate: moment()
        });
    });

    function filterTable() {
      var input, filter, table, tr, td, i;
      var input = document.getElementById("search-input");
      var filter = input.value.toUpperCase();
      var table = document.getElementById("job-table-body");
      var tr = table.getElementsByTagName("tr");
      var found = null;
      for (var i = 0; i < tr.length; i++) {
        var td = tr[i].getElementsByTagName("td");
        found = false;
        if (td) {
          for (var j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
              found = true;
              break;
            }
          }
        }
        if (found) {
          tr[i].style.display = "";
        }
        else {
          tr[i].style.display = "none";
        }
      }
    }
  </script>
  <!-- contrib dependencies -->
  <script src="{{url_for('static', filename='components/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js')}}"></script>
  <script src="{{url_for('static', filename='components/moment/min/moment.min.js')}}"></script>

{% endblock %}