{% extends "branding.html" %}
{% block content %}
  <style>
  </style>
  <div class="row lightsheet-row">
    <h3>Job Status</h3>
  </div>
  <div class="row lightsheet-row">
    <!-- Drop down menu to look up status of previous jobs, colorcoded by status of job -->
    <META HTTP-EQUIV="refresh" CONTENT="30">
    <select class="form-control lightsheet-dropdown" onchange="location = this.options[this.selectedIndex].value;">
      <option value="{{ url_for('job_status') }}" selected>---Select Previous Run---</option>
      {% if parentServiceData is not none %}
        {% for service in parentServiceData %}
          {% if service.state == "ERROR" %}
            <option class="status-error" value={{ url_for('job_status', jacsServiceIndex=service.index )}}
              {{ service.selected }}>  {{   service.creationDate + " " + "(" + service.args[3] + ")"}}
            </option>
          {% endif %}
          {% if service.state == "SUCCESSFUL" %}
            <option class="status-successful" value={{ url_for('job_status', jacsServiceIndex=service.index )}}
              {{ service.selected }}>  {{ service.creationDate + " " + "(" + service.args[3] + ")"}}
            </option>
          {% endif %}
          {% if service.state == "RUNNING" %}
            <option class="status-running" value={{ url_for('job_status', jacsServiceIndex=service.index )}}
              {{ service.selected }}>  {{ service.creationDate + " " + "(" + service.args[3] + ")"}}
            </option>
          {% endif %}
        {% endfor %}
      {% endif %}
    </select>
  </div>
  <div class="row lightsheet-row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Step</th>
          <th>Status</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Elapsed Time</th>
        </tr>
      <thead>
      <tbody>
        <!-- Status of child processes-->
        {% if childSummarizedStatuses is not none %}
          {% for status in childSummarizedStatuses %}
            <tr>
              <td>{{ status.step }}</td>
              <td>{{ status.status }}</td>
              <td>{{ status.startTime }}</td>
              <td>{{ status.endTime }}</td>
              <td>{{ status.elapsedTime }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}
