{% extends "branding.html" %}
{% block content %}
    <script src="{{ url_for('static', filename='js/submit.js') }}?time=" + Date.now()></script>
{% if posted=="true" %}
<div class="alert" style="background-color:#4CAF50">
  <strong>Thank you for submitting a job! </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

  <div class="row lightsheet-row">
    <h3>Job Status</h3>
  </div>
  <div class="row lightsheet-row">
    <!-- Drop down menu to look up status of previous jobs, colorcoded by status of job -->
    <META HTTP-EQUIV="refresh" CONTENT="30">
    <select class="form-control lightsheet-dropdown" onchange="location = this.options[this.selectedIndex].value;">
      <option value="{{ url_for('job_status') }}" selected>---Select Previous Run---</option>
      {% if parentJobInfo is not none %}
        {% for currentJobInfo in parentJobInfo %}
          {% if currentJobInfo.creationDate is defined %}
            {% set displayName = currentJobInfo.creationDate | strftime + " " + currentJobInfo.jobName %}
          {% else %}
            {% set displayName = currentJobInfo.jobName %}
          {% endif %}
          {% if currentJobInfo.state == "ERROR" %}
            <option class="status-error" value={{ url_for('job_status', lightsheetDB_id=currentJobInfo._id )}}
              {{ currentJobInfo.selected }}>  {{ displayName }}
            </option>
          {% elif currentJobInfo.state == "SUCCESSFUL" %}
            <option class="status-successful" value={{ url_for('job_status', lightsheetDB_id=currentJobInfo._id )}}
              {{ currentJobInfo.selected }}>  {{ displayName }}
            </option>
          {% elif currentJobInfo.state == "RUNNING" %}
            <option class="status-running" value={{ url_for('job_status', lightsheetDB_id=currentJobInfo._id )}}
              {{ currentJobInfo.selected }}>  {{ displayName }}
            </option>
          {% else %}
            <option class="status-other" value={{ url_for('job_status', lightsheetDB_id=currentJobInfo._id )}}
              {{ currentJobInfo.selected }}>  {{ displayName }}
            </option>
          {% endif %}
        {% endfor %}
      {% endif %}
    </select>
  </div>
  <div class="row lightsheet-row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Step</th>
          <th>Status</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Elapsed Time</th>
          <th>JACS Job Status Page</th>
        </tr>
      <thead>
      <tbody>
        <!-- Status of child processes-->
        {% set baseURL = request.url_root %}
        {% set baseURL = baseURL[:-1] %}
        {% if childJobInfo is not none %}
          {% for currentChildJob in childJobInfo %}
            <tr>
              <td>{{ currentChildJob.name }}</td>
              <td>{{ currentChildJob.state }}</td>
              <td>{{ currentChildJob.creationTime }}</td>
              <td>{{ currentChildJob.endTime }}</td>
              <td>{{ currentChildJob.elapsedTime }}</td>
              {% if "_id" in currentChildJob %}
               <td><a href= {{jacs_dashboard_url+"/job/"+currentChildJob._id}} target="_blank">Monitor Step</a></td>
              {% else %}
                <td></td>
              {% endif %}
            </tr>
            {% if currentChildJob.pause and currentChildJob.state=="SUCCESSFUL"%}
              {% if loop.index<=childJobInfo|length and currentChildJob.name in remainingStepNames %}
                <tr>
                  <td align="center" colspan=6>
                  <form action={{"/job_status?lightsheetDB_id="+lightsheetDB_id }} method="post" style="display:inline;"> <button> RESUME </button> </form>
                  <button onclick={{"dataIo.reset('"+stepOrTemplateName+ "','"+lightsheetDB_id+"')"}}> RESET </button>
                  </td>
               </tr>
              {% endif %}
             {% elif currentChildJob.state not in ["SUCCESSFUL","RUNNING","NOT YET QUEUED","CREATED","DISPATCHED"] and currentChildJob.name in remainingStepNames  %}
              <tr>
                <td align="center" colspan=6>
                  <button onclick={{"dataIo.reset('"+stepOrTemplateName+ "','"+lightsheetDB_id+"')"}}> RESET </button>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock content %}