{% extends "base.html" %}
{% block content %}
<form action="" method="post">
  <select onchange="location = this.options[this.selectedIndex].value;">
    <option value="http://10.36.13.18:5000/job_status" selected>---Select Previous Run---</option>
    {% for service in serviceHistory %}
    <option value={{"http://10.36.13.18:5000/job_status/"+ service.index }} {{ service.selected }}>  {{ service.creationDate + " " + "(" + service.args[3] + ")"}} </option> 
    {% endfor %}
    </select>
  </br>
  {% for status in statuses %}
   {{ status }} </br>
  {% endfor %}

</form>
{% endblock %}
