<table class="table table-striped table-hover" id="job-table">
  <thead>
    <tr>
      <th onclick="lightsheet.sortTable(0)"></th>
      <th onclick="lightsheet.sortTable(1)">Name</th>
      <th onclick="lightsheet.sortTable(2)">Date</th>
      <th onclick="lightsheet.sortTable(3)">Steps</th>
      <th onclick="lightsheet.sortTable(4)">Job ID (and Configuration Link)</th>
    <th onclick="lightsheet.sortTable(5)">Status</th>
    </tr>
  </thead>
  <tbody id="job-table-body">
    {% if parentJobInfo is not none %}
      {% for currentJobInfo in parentJobInfo %}
        <tr onclick="window.location = '?lightsheetDB_id={{ currentJobInfo._id }}' ;">
          <td>{{ loop.index }}</td>
          <td>Name</td>
          {% if 'creationDate' in currentJobInfo and currentJobInfo.creationDate is not none %}
            <td> {{ currentJobInfo.creationDate }}</td>
          {% else %}
            <td>N/A</td>
          {% endif %}
          {% if 'selectedStepNames' in currentJobInfo and currentJobInfo.selectedStepNames is not none %}
            <td>{{ currentJobInfo.selectedStepNames }}</td>
          {% else %}
            <td>N/A</td>
          {% endif %}
          {% if 'configAddress' in currentJobInfo and currentJobInfo.configAddress %}
            <td><a href="/config/{{ currentJobInfo._id }}">{{ currentJobInfo._id }}</a></td>
          {% else %}
            <td>N/A</td>
          {% endif %}
            {% if 'state' in currentJobInfo and currentJobInfo.state %}
            <td>{{ currentJobInfo.state}}</td>
          {% else %}
            <td>N/A</td>
          {% endif %}
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>