<div class="custom-multi-checkbox">
    <select class="selectpicker lightsheet-field" multiple onchange="dependency.addParameter(this)" id="select_{{ parameterValue.config.name }}">
      {% if parameterValue.config.number1 is not none %}
        <option {% if parameterValue.config.number1 in parameterValue.data %} selected {% endif %}>{{ parameterValue.config.number1 }}</option>
      {% endif %}
      {% if parameterValue.config.number2 is not none %}
        <option {% if parameterValue.config.number2 in parameterValue.data %} selected {% endif %}>{{ parameterValue.config.number2 }}</option>
      {% endif %}
      {% if parameterValue.config.number3 is not none %}
        <option {% if parameterValue.config.number3 in parameterValue.data %} selected {% endif %}>{{ parameterValue.config.number3 }}</option>
      {% endif %}
      {% if parameterValue.config.number4 is not none %}
        <option {% if parameterValue.config.number4 in parameterValue.data %} selected {% endif %}>{{ parameterValue.config.number4 }}</option>
      {% endif %}
    </select>
    <div id="hidden_{{ parameterValue.config.name }}">
      <input type="hidden" value='' id="{{ parameterValue.config.name }}" />
    </div>
</div>