<div class="custom-multi-checkbox">
    <select class="selectpicker lightsheet-field" multiple onchange="dependency.addParameter(this)" id="select_{{ param.name }}">
      {% if value.number1 is not none %}
        <option {% if value.number1 in data %} selected {% endif %}>{{ value.number1 }}</option>
      {% endif %}
      {% if value.number2 is not none %}
        <option {% if value.number2 in data %} selected {% endif %}>{{ value.number2 }}</option>
      {% endif %}
      {% if value.number3 is not none %}
        <option {% if value.number3 in data %} selected {% endif %}>{{ value.number3 }}</option>
      {% endif %}
      {% if value.number4 is not none %}
        <option {% if value.number4 in data %} selected {% endif %}>{{ value.number4 }}</option>
      {% endif %}
    </select>
    <div id="hidden_{{ param.name }}">
      <input type="hidden" value='' id="{{ param.name }}" />
    </div>
</div>