{% if parameterValue.config.description is not none %}
  <div class="input-group input-group-sm mb-3" id="{{ step.name }}-{{ parameterKey }}" title="{{ parameterValue.config.description }}">
{% else %}
  <div class="input-group input-group-sm mb-3" id="{{ step.name }}-{{ parameterKey }}">
{% endif %}
  <div class="input-group-prepend lightsheet-fields">
  <span class="input-group-text lightsheet-input">
    {{ parameterValue.config.name | trimend }}
  </span>
  {% if parameterValue.config.formatting == 'C' %}
      {% include "multiselect-parameter_load.html" ignore missing with context %}
  {% elif parameterValue.config.type == 'Text' %}
    <input type="text" class="form-control lightsheet-text" value="{{ parameterValue.data }}" id="{{ parameterKey }}">
  {% elif parameterValue.config.type == 'Number' %}
    {% if parameterValue.config.count == '1' %}
      <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data }}" id="{{ parameterKey }}">
    {% elif parameterValue.config.count == '2' %}
      <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data[0] }}" id="{{ parameterKey }}-0">
      <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data[1] }}" id="{{ parameterKey }}-1">
    {% elif parameterValue.config.count == '3' %}
      {% if parameterValue.config.formatting == 'R' %}
        <div class="form-group form-inline">
          <label class="lightsheet-label" for="{{ parameterKey }}-number1">From: </label>
          <input type="number" class="form-control lightsheet-number" id="{{ parameterKey }}-start" value="{{ parameterValue.data['start'] }}">
        </div>
        <div class="form-group form-inline">
          <label class="lightsheet-label" for="{{ parameterKey }}-number2">To: </label>
          <input type="number" class="form-control lightsheet-number" id="{{ parameterKey }}-end" value="{{ parameterValue.data['end'] }}">
        </div>
        <div class="form-group form-inline">
          <label class="lightsheet-label" for="{{ parameterKey }}-number3">Every:</label>
          <input type="number" class="form-control lightsheet-number" id="{{ parameterKey }}-every" value="{{ parameterValue.data['every'] }}">
        </div>
      {% else %}
        <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data[0] }}" id="{{ parameterKey }}-0">
        <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data[1] }}" id="{{ parameterKey }}-1">
        <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data[2] }}" id="{{ parameterKey }}-2">
      {% endif %}
    {% endif %}
  {% endif %}
  </div>
  {% if parameterValue.config.empty == True %}
    {% if parameterValue.config.type == 'Text' %}
      <div class="form-check form-check-inline lightsheet-checkbox" title="Pass empty string as field value">
    {% else %}
      <div class="form-check form-check-inline lightsheet-checkbox" title="Pass empty array as field value">
    {% endif %}
      <input class="form-check-input" type="checkbox" id="emptycheckbox_{{ pipelineStep.stepName }}-{{ parameterValue.config }}" value="false" onclick="lightsheet.passEmptyField(this)">
      <label class="form-check-label" for="emptycheckbox_{{ pipelineStep.stepName }}-{{ parameterValue.config }}">Empty Field</label>
      </div>
  {% endif %}
</div>