  

  {% if parameterValue.config.description is not none %}
    <div class="input-group input-group-sm mb-3" id="{{ step.name }}-{{ parameterKey }}" title="{{ parameterValue.config.description }}">
  {% else %}
    <div class="input-group input-group-sm mb-3" id="{{ step.name }}-{{ parameterKey }}">
  {% endif %}
    <div class="input-group-prepend">
    <span class="input-group-text lightsheet-input">
      {{ parameterValue.config.name | trimend }}
    </span>
    {% if parameterValue.config.type == 'Text' %}
      <input type="text" class="form-control lightsheet-text" value="{{ parameterValue.data }}" id="{{ parameterKey }}">
    {% elif parameterValue.config.type == 'Number' %}
      {% if parameterValue.config.count == '1' %}
        <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data }}" id="{{ parameterKey }}">
      {% elif parameterValue.config.count == '2' %}
        <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data[0] }}" id="{{ parameterKey }}-0">
        <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data[1] }}" id="{{ parameterKey }}-1">
      {% elif parameterValue.config.count == '3' %}
        {% if parameterValue.config.formatting == 'R' %}
          {{ parameterKey }}
          <div class="form-group form-inline">
            <label class="lightsheet-label" for="{{ parameterKey }}-number1">From: </label>
            <input type="number" class="form-control lightsheet-number" id="{{ parameterKey }}-0" value="{{ parameterValue.data[0] }}">
          </div>
          <div class="form-group form-inline">
            <label class="lightsheet-label" for="{{ parameterKey }}-number2">To: </label>
            <input type="number" class="form-control lightsheet-number" id="{{ parameterKey }}-1" value="{{ parameterValue.data[1] }}">
          </div>
          <div class="form-group form-inline">
            <label class="lightsheet-label" for="{{ parameterKey }}-number3">Every:</label>
            <input type="number" class="form-control lightsheet-number" id="{{ parameterKey }}-2" value="{{ parameterValue.data[2] }}">
          </div>
        {% else %}
          <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data[0] }}" id="{{ parameterKey }}-0">
          <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data[1] }}" id="{{ parameterKey }}-1">
          <input type="number" class="form-control lightsheet-number" value="{{ parameterValue.data[2] }}" id="{{ parameterKey }}-2">
        {% endif %}
      {% endif %}
    {% endif %}
    </div>
  </div>