{% if data is not string %} 
	{% set data = data[0] %}
{% endif %}
{%  for textOrNumber in ['text','number'] %}
    {% for index in range(1,7)  %}
        {% set currentValue = parameter[textOrNumber~index] %}
        {% if (textOrNumber=='number' and currentValue is not none) or (textOrNumber == 'text' and currentValue is not none and currentValue|length) %}
            <input type="radio" class="lightsheet-field" name="{{ parameter.name }}" data-defaultValue = "{{ defaultValue[textOrNumber~index] }}" value="{{ currentValue }}"  id="select_{{ parameter.name }}_{{ textOrNumber }}{{ index }}" {% if currentValue == data %} checked {% endif %}> {{ currentValue }}
        {% endif %}
    {% endfor %}
{% endfor %}