{% from "_formhelpers.html" import render_field %}
<!-- This file contains the template code for each and every pipeline step and includes a separate template to render each parameter -->
<div class="card" id="{{ step.name }}-card">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            {% if pipelineStep.collapseOrShow=="show" %}
                <b data-toggle="collapse" class="expand-icon" data-target="#collapse{{ step.name }}"
                   id="expandIcon-{{ step.name }}" onclick="lightsheet.expandStep(this)">&#x25BE</b>
            {% else %}
                <b data-toggle="collapse" class="expand-icon" data-target="#collapse{{ step.name }}"
                   id="expandIcon-{{ step.name }}" onclick="lightsheet.expandStep(this)">&#x25B8</b>
            {% endif %}
            <label>
                <input
                        id="check-{{ step.name }}"
                        type="checkbox"
                        class="step-name step-checkbox"
                        aria-controls="collapse{{ step.name }}"
                        value={{ step.name + "_checkbox" }}
                                onclick="lightsheet.testAllCheckboxes(this)"
                        {{ pipelineStep.checkboxState }}
                        style="cursor:default"
                        data-steptype="{{ step.steptype }}">
                {{ step.description }}
            </label>
            {% if step.steptype != "" %}
                <div style="display: inline" class="pause-check">
                    <label>
                        {% if pipelineStep.pause==1 %}
                            <input id="pausecheck-{{ step.name }}" type="checkbox" checked>
                        {% else %}
                            <input id="pausecheck-{{ step.name }}" type="checkbox">
                        {% endif %}
                        Pause</label>
                </div>
            {% endif %}
        </h5>
    </div>
    <div id="collapse{{ step.name }}" class="collapse {{ pipelineStep.collapseOrShow }}" aria-labelledby="headingOne"
         data-parent="#accordion">
        <div class="card-body">
            {% include "tabnav.html" %}
            {% set panels = ['frequent', 'sometimes', 'rare'] %}
            <!-- Tab panes -->
            <div class="tab-content">
                {% for panel in panels %}
                    {% if panel == 'frequent' %}
                        <div role="tabpanel" class="tab-pane active lightsheet-tab" id="{{ panel }}-{{ step.name }}">
                    {% else %}
                        <div role="tabpanel" class="tab-pane lightsheet-tab" id="{{ panel }}-{{ step.name }}">
                    {% endif %}
                    {% for parameter in step.parameter %} <!-- TODO: Loop over parameters in outer loop and move "data" creation in django to separate function/file --!>
                    {% if parameter.frequency == panel[0].upper() %}
                        {% set keyForProvidedStep = parameter.name.rpartition("_")[0] %}
                        {% set defaultValue={} %}
                        {% for textOrNumber in ['text','number'] %}
                            {%  for index in range(1,7) %}
                                {% set currentValue = parameter[textOrNumber~index] %}
                                {% set dummyVariable = defaultValue.__setitem__(textOrNumber~index, currentValue) %}
                            {% endfor %}
                        {% endfor %}
                        {% set dummyVariable = defaultValue.__setitem__('float1', parameter.float1) %}
                        {% if pipelineStep is not none and keyForProvidedStep in pipelineStep['loadedParameters'][panel] %}
                            {% set usesDefaultStepValue=False %}
                            {#Set defaults, useful for dependencies#}
                            {% set data = pipelineStep['loadedParameters'][panel][keyForProvidedStep].data %}
                        {% else %}
                            {% set usesDefaultStepValue=True %}
                            {% if parameter.formatting == 'C' and pipelineStep is none %}
                                {% set data = [parameter.number1] %}
                            {% elif parameter.formatting == 'B' or parameter.formatting == 'D' %}{#Radio Button or Dropdown Menu#}
                                {% set data = [] %}
                                {% for textOrNumber in ['text','number'] %}
                                    {%  for index in range(1,7) %}
                                        {% set currentValue = parameter[textOrNumber~index] %}
                                        {% if (textOrNumber=='number' and currentValue is not none) or (textOrNumber == 'text' and currentValue is not none and currentValue|length) %}
                                            {% set data = data.append(currentValue) %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% elif parameter.type == "Text" or parameter.formatting=='A' %}
                                {% set data = parameter.text1 %}
                            {% elif parameter.type =="Float" %}
                                {% set data = parameter.float1 %}
                            {% else %}
                                {% if parameter.count == '1' %}
                                    {% set data = parameter.number1|int %}
                                {% elif parameter.count == '2' %}
                                    {% set data = [parameter.number1, parameter.number2] %}
                                {% elif parameter.formatting == 'R' %}
                                    {% set data = {'start': parameter.number1, 'end': parameter.number2, 'every': parameter.number3} %}
                                {% elif parameter.count == '3' %}
                                    {% set data = [parameter.number1, parameter.number2, parameter.number3] %}
                                {% elif parameter.count == '4' %}
                                    {% set data = [parameter.number1, parameter.number2, parameter.number3, parameter.number4] %}
                                {% elif parameter.count == '5' %}
                                    {% set data = [parameter.number1, parameter.number2, parameter.number3, parameter.number4, parameter.number5] %}
                                {% elif parameter.count == '6' %}
                                    {% set data = [parameter.number1, parameter.number2, parameter.number3, parameter.number4, parameter.number5, parameter.number6] %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% include "parameter.html" ignore missing with context %}
                    {% endif %}
                {% endfor %}
                </div>
                {% endfor %}
                {% if 'GLOBALPARAMETERS' in step.name.upper() %}
                    <div class="col-md-12">
                        <input class="btn btn-info apply-button" type="button" value="Apply"
                               title="Apply global parameters to other steps in the pipeline"
                               onclick="dependency.applyGlobalParameter()"/>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>