<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item tab-frequent">
    <a class="nav-link active" href="#frequent-{{ step.name }}" role="tab" data-toggle="tab">Frequent</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#sometimes-{{ step.name }}" role="tab" data-toggle="tab">Sometimes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#rare-{{ step.name }}" role="tab" data-toggle="tab">Rare</a>
  </li>
  <li class="nav-item" style="display: none;">
    <a class="nav-link" href="#json-{{ step.name }}" role="tab" data-toggle="tab">JSON</a>
  </li>
</ul>