{% extends "branding.html" %}
{% block content %}
    <div id="steps">
      {% for item in config.steps %} 
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link step-name" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{loop.index }}">
                {{ item.name }}
              </button>
            </h5>
          </div>
          <div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item tab-frequent">
                  <a class="nav-link active" href="#frequent{{ loop.index }}" role="tab" data-toggle="tab">Frequent</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sometimes{{ loop.index }}" role="tab" data-toggle="tab">Sometimes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#rare{{ loop.index }}" role="tab" data-toggle="tab">Rare</a>
                </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="frequent{{ loop.index }}">frequent params</div>
                <div role="tabpanel" class="tab-pane" id="sometimes{{ loop.index }}">params changed sometimes </div>
                <div role="tabpanel" class="tab-pane" id="rare{{ loop.index }}">rare params</div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}