{% extends "branding.html" %}
{% block content %}
  {% if message is defined %}
    {% if success == true %}
      <div class="row lightsheet-row msg-success">
    {% else %}
      <div class="row lightsheet-row msg-error">
    {% endif %}
      {% for m in message %}
        {{ m }} </br>
      {% endfor %}
    </div>
  {% else %}
    <div class="row lightsheet-row"></div>
  {% endif %}
  <div class="row lightsheet-row">
    {% if filename is defined %}
      <h4 id ="job-heading">Upload {{ filename }}</h4>
    {% else %}
      <h4 id ="job-heading">Upload pipeline configuration</h4>
    {% endif %}
  </div>
  <!-- Row with elements to configure -->
  <div class="row lightsheet-row">
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
  </div>
{% endblock content %}